@import '../base/typography.scss';
@import '../base/colors.scss';

.emphasis-block {
    padding: 20px;
    margin: 20px 0px;
    border-radius: 10px;
    background-color: $accent-medium;
    color: $white;
}