.roll-form {
    font-size: 24px;

    input {
        font-size: 24px;
        padding: 0 0 0 20px;
        height: 60px;
        border: none;
        outline: none;
        box-shadow: inset 0px 0px 5px $black;
        border-radius: 5px;
    }

    span {
        margin-left: 20px;
    }
}
