@import "../../styles/base/colors.scss";
@import "../../styles/base/typography.scss";

.emphasis-block {
    margin: 20px 0px;
    border-radius: 5px;
    color: $black;
    text-align: center;

    &__border {
        width: 50%;
    }

    &__content {
        text-align: left;
    }
}
