@import '../../styles/base/colors.scss';
@import '../../styles/base/typography.scss';

.footer {
    position: fixed;
    z-index: 200;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: darken($primary-muted, 10);
    box-shadow: 0px 0px 10px 0px $black;
    border-top: solid 1px $primary-muted;
    color: $white;
    margin: 0;
    padding: 31px;


    .roll-form,
    [data-qa-target="scroll-to-top-button"] {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 0;
        vertical-align: -webkit-baseline-middle;
    }
}