
$primary-muted: #2C3E50;
$primary-dark: #0069c0;
$primary-medium: #2196f3;
$primary-light: #6ec6ff;
$accent-dark: #087f23;
$accent-medium: #4caf50;
$accent-light: #80e27e;

$white: #fcfcfc;
$black: #222222;

$grey-light: #eeeeee;