@import './colors.scss';

$font-family: 'Open Sans', serif;

$body-font-color: $black;

$h1-font-size: 40px;
$h2-font-size: 34px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$body-font-size: 12px;
$sub-font-size: 10px;

$line-height: 1.5;

html, body {
    font-size: $body-font-size;
    font-family: $font-family;
    color: $body-font-color;
    line-height: $line-height;
    background-color: $primary-muted;
}

h1 {
    font-size: $h1-font-size;
    font-family: $font-family;
    color: $primary-muted;
}

h2 {
    font-size: $h2-font-size;
    font-family: $font-family;
    color: $primary-muted;;
    border-bottom: solid 1px $grey-light;
}

a {
    text-decoration: none;
    color: $primary-medium;

    &:hover {
        color: $primary-dark;
    }
}

td, th {
    font-size: $body-font-size;
}

// TODO: Move this and replace with better styling rules
img {
    width: 100%;
}